<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.carlos.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ControlActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.OptionsActivity"
            android:label="@string/option_bar"
            android:theme="@style/AppTheme"></activity>

        <activity
            android:name=".actions.ConsultaActivity"
            android:label="@string/consul_bar"
            android:parentActivityName=".actions.ConsultaActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".actions.ConsultaActivity" />
        </activity>

        <activity
            android:name=".actions.ModificarActivity"
            android:label="@string/modif_bar"
            android:parentActivityName=".actions.ModificarActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".actions.ModificarActivity" />
        </activity>

        <activity
            android:name=".actions.EliminarActivity"
            android:label="@string/elim_bar"
            android:parentActivityName=".actions.EliminarActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".actions.EliminarActivity" />
        </activity>
    </application>

</manifest>